@font-face {
  font-family: Norse-Bold;
  src: url(../signup-form/fonts/norse.bold.otf);
}

body {
	margin: 0;
	padding: 0;
}

.main {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

.left {
	background-image: url('./images/luka.png');
	background-position: center;
	width: 35vw;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	/*font-family: Norse-Bold, sans-serif;*/
}

.right {
	display: flex;
	flex-direction: column;
}

.first {
	height: 40vh;
	font-size: 28px;
	align-content: center;
	padding: 3rem;
}

.second {
	height: 30vh;
}